.news-feed {
  --carousel-sides: 104px;
  //104px is the 80px preview of the previous card and the 24px gap between cards
  //to align with the first fully-visible card.

  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 2rem 0;

  .feed-header-section {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 0 calc(((100% - 1200px) / 2) - 10px) 3rem
      calc(((100% - 1200px) / 2));

    .feed-header-title {
      font-size: 40px;
      font-weight: bold;
      text-align: center;
      color: #191919;
      &.color-white {
        color: #ffffff;
      }
    }

    .news-header-link {
      max-width: 280px;
    }
  }

  .carousel-wrapper {
    width: calc(1200px + var(--carousel-sides) * 2);
    margin: auto;
    .feed-header-section {
      margin: 0 0 3rem calc(((100% - 1200px) / 2));
    }
  }

  .horizontal-wrapper {
    .row-spaced {
      margin: 0 !important;
    }
  }

  @media (max-width: 1400px) {
    .carousel-wrapper {
      width: calc(100% + 12px);
      padding: 0 0 0 20px;

      .feed-header-section {
        margin-left: 0;

        h3 {
          padding-right: 0;
        }

        .feed-header-title {
          text-align: left;
          margin-right: 32px;
          margin-bottom: 1.5rem;
          padding-right: 0;
        }

        .feed-header-control {
          max-width: 280px;
        }
      }
    }
  }

  @media (max-width: 1260px) {
    .cards-wrapper,
    .horizontal-wrapper {
      margin: 0 20px;
      .feed-header-section {
        margin-left: 0;
        margin-right: 0;
        flex-direction: column;
        .feed-header-title {
          font-size: 24px;
          margin-bottom: 1.5rem;
          text-align: left;
        }
      }
    }
    .carousel-wrapper {
      .feed-header-section {
        flex-direction: column;
        .feed-header-title {
          font-size: 24px;
        }
      }
    }
  }
}

@media (max-width: 1260px) {
  .container {
    max-width: 100% !important;
  }
}

@media (min-width: 1400px) {
  .container .news-feed .carousel-wrapper {
    margin-left: calc(-1 * var(--carousel-sides));
  }
}
